[package]
name = "ruststack-dynamodb-http"
description = "DynamoDB HTTP service layer for RustStack"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
ruststack-dynamodb-model = { workspace = true }
ruststack-auth = { workspace = true }

hyper = { workspace = true }
hyper-util = { workspace = true }
http = { workspace = true }
http-body-util = { workspace = true }

bytes = { workspace = true }
tokio = { workspace = true }
chrono = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }

tracing = { workspace = true }
thiserror = { workspace = true }
futures = { workspace = true }
pin-project-lite = { workspace = true }
uuid = { workspace = true }
