[package]
name = "ruststack-s3-model"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
bytes = "1.11"
chrono = { version = "0.4", features = ["serde"] }
http = "1.4"
serde = { version = "1.0", features = ["derive"] }
