[package]
name = "ruststack-s3-xml"
description = "XML serialization/deserialization for RustStack S3"
version.workspace = true
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
ruststack-s3-model = { path = "../ruststack-s3-model" }
quick-xml = "0.39"
bytes = "1.11"
chrono = { version = "0.4", features = ["serde"] }
thiserror = "2.0"
tracing = "0.1"

[dev-dependencies]
